---
title: IOT
---

<div class="site-header">
  <div class="container-fluid">
    <div class="col-sm-6">
      <img src="images/databusiness-logo.svg" class="branding-logo">
    </div>
    <div class="col-sm-6">
      <h1 class="site-headline">Otsikon paikka / 14.9.2016</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row" id="sensorpanels">
  </div>
  <div class="row sponsors">
    <div class="col-sm-3">
     
    </div>
    <div class="col-sm-2">
      <img src="images/6aika-tunnus-RGB-C.fw.png" class="sponsor-logo sponsor-logo__6aika"/>
    </div>
    <div class="col-sm-2">
      <img src="images/VipuvoimaaEU_2014_2020_rgb.png" class="sponsor-logo sponsor-logo__vipu">
    </div>
    <div class="col-sm-2">
      <img src="images/EU_EAKR_FI_vertical_20mm_rgb.png" class="sponsor-logo sponsor-logo__eu"/>
    </div>
    <div class="col-sm-3">
     
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="status-display"></div>
  </div>
</div>
