---
title: IOT
---

<div class="site-header">
  <div class="container-fluid">
    <div class="col-sm-8">
      <img src="images/databusiness-logo.svg" class="branding-logo">
      <h1 class="site-headline">DataBusiness Cleantech and the IoT 14.9.</h1>
    </div>
    <div class="col-sm-4">
      <div class="row sponsors">
          <div class="col-xs-4">
            <img src="images/6aika-tunnus-RGB-C.fw.png" class="sponsor-logo sponsor-logo__6aika"/>
          </div>
          <div class="col-xs-4">
            <img src="images/VipuvoimaaEU_2014_2020_rgb.png" class="sponsor-logo sponsor-logo__vipu">
          </div>
          <div class="col-xs-4">
            <img src="images/EU_EAKR_FI_vertical_20mm_rgb.png" class="sponsor-logo sponsor-logo__eu"/>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row" id="sensorpanels">
  </div>
  <div class="row">
    <div class="col-xs-12" id="status-display"></div>
  </div>
</div>
