---
title: IOT
---

<div class="jumbotron">
  <div class="container-fluid">
    <div class="display-branding">
      <img src="images/databusiness-logo.svg" class="branding-logo">
    </div>
    <p></p>
  </div>
</div>

<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row" id="sensorpanels">
  </div>
  <div class="row">
    <div class="col-xs-12" id="status-display"></div>
  </div>
</div>
